.fiche {
  &-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &-header {
    @include flex(row, space-between, flex-start);
    width: 95%;
    margin: 0 auto;
    @media screen and (max-width: 650px) {
      @include flex(column, space-between, flex-start);
      gap: 10px;
    }

    &_left {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &_right {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media screen and (max-width: 769px) {
        width: 100%;
        @include flex(row-reverse, space-between, center)
      }
    }
    .contact {
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 10px;

      &_name {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  &-collapse{
    position: relative;
    @include flex(row, space-between,start);
    gap: 60px;

    @media screen and (max-width: 769px) {
      flex-direction: column;
      gap: 40px;

    }
    &_item{
      width: 50%;
      @media screen and (max-width: 769px)  {
        width: 100%;
      }
    }
  }
}